<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elastic.mapper.ProdAttributeNameMapper">
  <resultMap id="BaseResultMap" type="com.elastic.entity.po.ProdAttributeName">
    <id column="att_id" jdbcType="INTEGER" property="attId" />
    <result column="att_name" jdbcType="VARCHAR" property="attName" />
    <result column="att_short_name" jdbcType="VARCHAR" property="attShortName" />
    <result column="att_desc" jdbcType="VARCHAR" property="attDesc" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify" jdbcType="VARCHAR" property="modify" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    att_id, att_name, att_short_name, att_desc, creator, create_date, modify, modify_date, 
    del_flag, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_attribute_name
    where att_id = #{attId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_attribute_name
    where att_id = #{attId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elastic.entity.po.ProdAttributeName">
    insert into prod_attribute_name (att_id, att_name, att_short_name, 
      att_desc, creator, create_date, 
      modify, modify_date, del_flag, 
      version)
    values (#{attId,jdbcType=INTEGER}, #{attName,jdbcType=VARCHAR}, #{attShortName,jdbcType=VARCHAR}, 
      #{attDesc,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modify,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}, 
      #{version,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.elastic.entity.po.ProdAttributeName">
    insert into prod_attribute_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attId != null">
        att_id,
      </if>
      <if test="attName != null">
        att_name,
      </if>
      <if test="attShortName != null">
        att_short_name,
      </if>
      <if test="attDesc != null">
        att_desc,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modify != null">
        modify,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attId != null">
        #{attId,jdbcType=INTEGER},
      </if>
      <if test="attName != null">
        #{attName,jdbcType=VARCHAR},
      </if>
      <if test="attShortName != null">
        #{attShortName,jdbcType=VARCHAR},
      </if>
      <if test="attDesc != null">
        #{attDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modify != null">
        #{modify,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elastic.entity.po.ProdAttributeName">
    update prod_attribute_name
    <set>
      <if test="attName != null">
        att_name = #{attName,jdbcType=VARCHAR},
      </if>
      <if test="attShortName != null">
        att_short_name = #{attShortName,jdbcType=VARCHAR},
      </if>
      <if test="attDesc != null">
        att_desc = #{attDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modify != null">
        modify = #{modify,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where att_id = #{attId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elastic.entity.po.ProdAttributeName">
    update prod_attribute_name
    set att_name = #{attName,jdbcType=VARCHAR},
      att_short_name = #{attShortName,jdbcType=VARCHAR},
      att_desc = #{attDesc,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify = #{modify,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      version = #{version,jdbcType=BIGINT}
    where att_id = #{attId,jdbcType=INTEGER}
  </update>
</mapper>